.player-container {
    display: flex;
 
}

#game-board {
 width: 15em;
 height: 15em;
 border: 1px solid black;
 margin-left: 10em;
 

}

#game-board ol {

 display: flex;


 
}

 li {
    list-style: none
}

#game-board button {
    background: black;
    border: 1px solid black;
    color: #fff;
}